@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #111;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.lists{
    margin-top: -100px;
}

.loading{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner{
    height: 70px;
    width: 70px;
    border: 2px solid #000;
    border-left: 5px solid red;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    to{ transform: rotate(360deg); }
}

@media (max-width:768px){
    body{
        overflow-x: hidden;
    }
}